

.App {
  text-align: center;
  height: 90%;


}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Framework-declaration {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* a good contrasting color to use
    background-color: #c71d17; */

    .base-app {
      width: 100%;
      height:100%;
      background-color: #282c34; 
  
  
    }

.base-component{
  background-color: #f1f1f1;
  color: black;
  width: 90%;
  height:90%;
  margin-top: 5%;
  margin-left: 5%;
}

.question-base-component{
  background-color: #f1f1f1;
  color: black;
  width:80%;
  margin-left: 5%;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}
